<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
            </files>
        </defaultDocument>

        <staticContent>
            <remove fileExtension=".apng" />
            <remove fileExtension=".webp" />
            <remove fileExtension=".tiff" />
            <mimeMap fileExtension=".apng" mimeType="image/apng" />
            <mimeMap fileExtension=".webp" mimeType="image/webp" />
            <mimeMap fileExtension=".tiff" mimeType="image/tiff" />
        </staticContent>
    </system.webServer>
</configuration>
